[submodule "externals/functools"]
	path = externals/functools
	url = git://github.com/ShiftSpace/functools.git
[submodule "externals/promises"]
	path = externals/promises
	url = git://github.com/ShiftSpace/promises.git
